/* common shared styles*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.featured{
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* banner */
.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);;
}
.banner-title {
    font-family:sans-serif;
    font-size: 60px;
    font-weight: 700;
    width: 100%;
    margin: auto;
}
.banner-content {
    max-width: 500px;
    margin-left: 240px;
    width: 50%;
    margin: auto;
}

.banner-img {
    width: 600px;
    height: 700px;
    padding-top:8px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/* main */

/* hot deal  */

.hot-deal{
    width: 1520px;
    height: 520px;
    border-radius: 8px;
    background-color:rgba(229, 84, 115, 0.05) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hot-deal-content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}

.hot-deal-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    
}
.hot-deal-description{
    font-size: 15px;
    color: gray;
    width: 50%;
    margin: auto;
}
.hot-deal-img{
    height:350px;
    width:250px;
}
/* featured */
.featured{
     display:flex;
     justify-content:space-between;
     width: 50%;
     margin: auto;
}
.parent{
    display: flex;
    gap: 60px; 
    justify-content:center;
      padding: 30px;  
}
.child1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 280px;
     height: 300px;  


}
 
img.child1-img {
    padding-top: 50px;
    width: 180px;
    height: 250px;
    padding-left: 37px;

}


.child2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 280px;
    height: 300px;  
}
 
img.child2-img {
    padding-top: 50px;
    width: 180px;
    height: 250px;
    padding-left: 48px;

     
}
.child3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 280px;
     height: 300px; 
    
}
img.chil3-img {
    padding-top: 50px;
    width: 180px;
    height: 250px;
    justify-content: center;
    padding-left: 37px;

     
}

/* about */

.about-container{
    background-color: rgba(39, 39, 39, 0.05);
    margin: 128px 240px; 
    padding: 50px;
}
 .about{
    display: flex;
    justify-content: space-around;
     
    
 }
 /* services */
 .our-services-div{
     /* display: flex;  */
    justify-content: space-between;
    align-items: center;
 }
 .our-services{
    text-align: center;
    width: 50%;
    margin: auto;
 }
 .services{
     gap: 24px;
     display: flex;
     justify-content:center;
     align-items: center;

 }
 .osd{
     width: 280px;
     height: 300px;
     
 }

/* footer */
.footer{
    background-color: #111010;
    height:449px;
    width:1520px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.footer-content{
    margin-left : 448px;
    margin-right: 448px;
      
}
 .footer-title{
    font-size: 48px;
    font-weight: 800;
     text-align: center;
     align-items: center;
     
 }
 .flower{
    color: #E55473;
 }
 .footer-description{
    text-align: center;
 }
 .copyright{
    text-align: center;
    color: rgba(255, 255, 255, 0.40);

 }
